example/one
example/one_oneh
example/two
example/two_oneh
example/hello
example/utils/out
example/hello_oneh
/example/*.exe
/example/msvc/_OutPut
/example/msvc/.vs
/example/msvc/*.db
/build/msvc/2015/.vs
/build/msvc/2015/out
/build/msvc/2015/IceRay2015.VC.db
/build/msvc/2015/IceRay2015.VC.VC.opendb
/build/scons/*.dblite
/temp/*
/bin/*
*.dblite
*.pyc
_!*
*.bak
/example/test/*.ppm
/example/test/*.png
/build/msvc/2015/.vs
/build/msvc/2015/Debug
/build/msvc/2015/Release
/build/msvc/2015/x64
/build/msvc/2017/.vs
/build/msvc/2017/Debug
/build/msvc/2017/Release
/build/msvc/2017/x64
/example/test/core/*.ppm
/example/test/core/_!out
__pycache__
/example/test2/_out
/example/test2/_out2
/build/cmake/_make
/build/cmake/tmpprj
/build/cmake/_makeGcc
/build/cmake/_makeVS
